/* src/styles.css or src/styles.scss */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

div > button {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background-color: rgb(0, 204, 61);


  & {
    &:hover {
      background-color: rgb(0, 141, 42);
    }
  }
}

div {
  display: flex;
  flex-direction: column;
}

form {
  width: 30%;
  margin: 0 auto;
}

.invalid {
  color: red;
  font-size: 12px;
  border-color: red;
}
